<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delte user</title>
</head>
<body>
    <h2>You will delete account from the website</h2>
    <form method="post" action="/user?_method=DELETE">
        <input type="email" placeholder="enter email" name="email">
        <input type="password" placeholder="enter password" name="password">
        <button>Delete</button>
    </form>
</body>
</html>